$config-fs-root: 16px !default;
$config-line-gap: 5px !default;
$config-fs-scale-base: 4 !default;

@function rem($px) {
  @return $px / $config-fs-root * 1rem;
}

@function get-lines($lines: 0, $without-edge-gap: false) {
  $lines-size: ($config-fs-root + $config-line-gap) * $lines;
  @if (not $without-edge-gap) {
    @return rem($lines-size);
  } @else {
    @return rem($lines-size - $config-line-gap);
  }
}

@function get-font-scale($factor) {
  @return $config-fs-root * $config-fs-scale-base / $factor;
}

@function strip-unit($number) {
  @if type-of($number) == "number" and not unitless($number) {
    @return $number / ($number * 0 + 1);
  }
  @return $number;
}
